# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# PyCharm project files
.idea/

# Python artifacts
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
myenv/

# Django-specific
db.sqlite3
*.log
*.pot
*.py[cod]
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db
